:root { 
--gray_900_35:#02342435; 
--gray_51:#fbfbfb; 
--bluegray_50:#ebecf0; 
--gray_300_59:#ebe5db59; 
--white_A700_70:#ffffff70; 
--gray_50:#fcfcfc; 
--gray_300_33:#ebe5db33; 
--gray_100_14:#f3f3f314; 
--yellow_600:#e5d32e; 
--black_900:#0d0e0c; 
--teal_800:#1b5f4a; 
--black_902:#080a12; 
--black_901:#000000; 
--indigo_800_23:#3e357823; 
--gray_600:#72737c; 
--gray_402:#aeaeae; 
--gray_700:#5a524c; 
--gray_601:#667966; 
--gray_400:#b2b2b2; 
--black_900_0a:#0000000a; 
--gray_401:#c4c4c4; 
--gray_800:#3c3c3c; 
--indigo_50:#d3ddf5; 
--gray_900:#232521; 
--white_A700_2d:#ffffff2d; 
--bluegray_100:#d1e5df; 
--yellow_50:#fff9f0; 
--teal_51:#e4f0f6; 
--light_blue_50:#d8f0ff; 
--teal_50:#e2f1ed; 
--gray_200:#eaeaea; 
--gray_300:#ebe5db; 
--bluegray_900:#204d3f; 
--bluegray_701:#30715d; 
--bluegray_800:#363848; 
--bluegray_602:#357f68; 
--deep_purple_50:#e9e6fe; 
--bluegray_700:#2b6956; 
--bluegray_601:#3b7e69; 
--bluegray_600:#408972; 
--black_900_99:#00000099; 
--bluegray_400:#8a8a8a; 
--white_A700:#ffffff; 
--bluegray_902:#303030; 
--bluegray_901:#2d2d2d; 
}